html {
  /* ---- ---- */
  --header-background-color: #f0ad56;
  --base-background-color: #eea94f;
  --header-height: 75px;
  /* ---- scrollbar ---- */
  --styleMode-webkit-scrollbar-thumb: #c3822c;
  --styleMode-webkit-scrollbar: #e79f40;
  /* ----- font ----- */
  --link-color: #00c3ff;
  --base-font-color: white;
  --font-family: Arial, Helvetica, sans-serif;
  &[dark] {
    /* ---- scrollbar ---- */
    --styleMode-webkit-scrollbar-thumb: #aaaaaa;
    --styleMode-webkit-scrollbar: #181818;
  }
}
/* flex */
.flex {
  display: flex;
}
.flex-item-center {
  align-items: center;
}
.flex-center {
  justify-content: center;
}
.flex-down {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
