@import url(./global.scss);
@import url(./fonts.scss);

html,
body {
  margin: 0;
  padding: 0;
  color: var(--base-font-color);
  font-family: var(--font-family);
  background-color: var(--base-background-color);
}

[href],
[href]:visited {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

/* ----- scrollbar ----- */
::-webkit-scrollbar {
  background-color: var(--styleMode-webkit-scrollbar);
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--styleMode-webkit-scrollbar-thumb);
}
/* ----- selection ----- */
::selection {
  background-color: #a87d2cce;
  color: #e8e6e3;
}
